* {
  border: solid black 0.2px;
  box-sizing: border-box;
}

/* .float {
  border-color: red;
} */

[required] {
  border-color: red;
}

textarea {
  display: block;
}

textarea[id^="textAdd"] {
  display: none;
}

div[id^="divAdd"] {
  display: none;
}

.divTab {
  overflow: auto;
  resize: both;
}

.tabAtFisRotPop {
  overflow: auto;
}

table {
  /* overflow: auto;
  resize: both; */
  width: 100%;
  /* height: 60%; */
}

.bi {
  pointer-events: none;
}

#spanConfirm1,
#citeNameId {
  border-width: 4px;
}

#confirmLocId {
  min-width: 200px;
}
