* {
  border: solid black 0.2px;
  box-sizing: border-box;
}

#hForm {
  display: flex;
  justify-content: space-between;
}

.flexSpan {
  display: flex;
}

#spanHFlex {
  align-items: center;
  width: 30%;
  height: 10%;
}

.dicas {
  font-size: 15px;
}

textarea {
  display: block;
}

/* .contPrim {
  border: solid purple 2px;
}

.contSec {
  border: solid blueviolet 2px;
}

.contTerc {
  border: solid blue 2px;
}

.contQuat {
  border: solid green 2px;
}

.contQuint {
  border: solid greenyellow 2px;
}

.contSext {
  border: solid yellow 2px;
}

.contSet {
  border: solid orange 2px;
}

.contOct {
  border: solid red 2px;
} */

textarea[id^="textAdd"] {
  display: none;
}

div[id^="divAdd"] {
  display: none;
}

#dicaKb {
  font-size: 16px;
}

.inspSpanSub {
  display: inline-block;
  position: relative;
}

.inspTa {
  overflow: auto;
  resize: both;
}

.inspDialog[open] {
  display: flex;
  flex: 1;
  position: absolute;
  overflow: auto;
  resize: both;
  top: -20%;
  left: 130%;
  height: 110%;
  width: 270%;
  padding: 0;
}

.inspList {
  width: 100%;
  height: 100%;
  padding-left: 5%;
  font-weight: bold;
}

.inspList li {
  font-weight: initial;
  display: flex;
  justify-content: space-between;
}

.quadrAvDent:hover {
  cursor: grab;
}

#sectAvDentId {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  text-align: center;
}

.quadrSubDiv {
  display: flex;
  flex-flow: wrap column;
}

.bi {
  pointer-events: none;
}

#divMainSupDir {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#divMainInfEsq {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#divMainSupEsq {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#divMainInfDir {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.labelAvDent {
  display: block;
}

.inpAvDent::placeholder {
  opacity: 0.6;
  transition: opacity 1s ease-in;
}

.inpAvDent.placeholder-hidden::placeholder {
  opacity: 0;
}

.taPlan {
  width: 100%;
}

.divMainTrat {
  display: flex;
  flex-flow: wrap row;
  flex: 1;
}

.divSubTrat {
  display: flex;
  flex-flow: wrap row;
  flex: 1;
  width: 100%;
  justify-content: space-between;
}

.tratNumSpan {
  display: flex;
  align-items: center;
}

.tratTypeSpan {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  resize: both;
  width: 50%;
  min-width: 100px;
  max-width: 495px;
}

.tratLabel {
  display: block;
  width: 100%;
}

.tratTalab {
  display: block;
  font-size: 16px;
}

.taTrat {
  display: inline-block;
  width: 100%;
  width: 100%;
}

.inpAst {
  overflow: auto;
  resize: both;
}

cite[contenteditable="true"] {
  display: inline-block;
  min-width: 10px;
  resize: horizontal;
}

#spanConfirm1,
#citeNameId {
  border-width: 4px;
}

.labConfirm {
  display: inline-flex;
  flex-wrap: wrap;
  overflow: auto;
}

label[for="confirmLocId"] {
  resize: horizontal;
}

.contQuint.labConfirm {
  width: 100%;
}

#confirmLocId {
  overflow: clip;
  overflow-wrap: break-word;
  width: 30%;
}

#deactAutocorrectBtn {
  display: block;
}

.confirmBut:active {
  opacity: 0.5;
}
