* {
  border: solid black 0.2px;
}

textarea {
  display: block;
}

textarea[id^="textAdd"] {
  display: none;
}

div[id^="divAdd"] {
  display: none;
}

#addAntMedId {
  font-weight: bold;
}

#confirmAssId {
  border-width: 0 0 1.5px 0;
}
