* {
  box-sizing: border-box;
  text-overflow: ellipsis;
}

body {
  background-color: rgba(152, 195, 167, 0.5);
  margin-top: 0 0;
}

.main-article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 98vh;
  width: 98vw;
  margin: auto auto;
}

.header-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10%;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border: 5px solid rgba(0, 0, 0, 0.8);
  border-bottom: none;
  border-radius: 50px 50px 0 0;
}

.header-main-text {
  margin: auto;
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main-container {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  grid-template-rows: repeat(2, 50%);
  justify-content: space-evenly;
  justify-items: center;
  height: 85%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 10px 30px;
  border: 5px solid rgba(0, 0, 0, 0.8);
}

.card-hborder {
  background-color: black;
  width: 100%;
  height: 100%;
  clip-path: circle(41%);
  min-width: 228.3px;
  min-height: 290.3px; /* Adicione uma borda */
  /* border: 5px solid rgba(0, 0, 0, 0.8);
  border-radius: 100%; */
}

.card-header {
  display: inline-block;
  width: 100%;
  height: 100%;
  clip-path: circle(40%);
  min-width: 228.3px;
  min-height: 290.3px;
  font-size: 150%;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@keyframes scale-up-header {
  0% {
    transform: scale(1);
    clip-path: circle(40%);
  }
  50% {
    transform: scale(1.05);
    clip-path: circle(41%);
  }
  100% {
    transform: scale(1);
    clip-path: circle(40%);
  }
}

.card-header:hover {
  animation: scale-up-header 2s linear infinite;
}

@keyframes scale-up-hborder {
  0% {
    transform: scale(1);
    clip-path: circle(41%);
  }
  50% {
    transform: scale(1.05);
    clip-path: circle(44%);
  }
  100% {
    transform: scale(1);
    clip-path: circle(41%);
  }
}

.card-hborder:hover {
  animation: scale-up-hborder 2s linear infinite;
}

#ag_but {
  background-image: url("img/ufrj_icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  background-color: white;
}

#ef_but {
  background-image: url("img/ed-fis_ufrj_icon.jfif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  background-color: white;
}

#od_but {
  background-image: url("img/od_ufrj_icon.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  background-color: white;
}

#nutr_but {
  background-image: url("img/nut_ufrj_icon.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  background-color: white;
}

@keyframes highlightButton {
  0% {
    background-color: rgba(255, 255, 255, 0.227);
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.117);
  }
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border: 5px ridge rgba(0, 0, 0, 0.8);
  border-radius: 100px;
  font-size: 200%;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-container {
  height: 5%;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  border: 5px solid rgba(0, 0, 0, 0.8);
  border-radius: 0 0 50px 50px;
  border-top: none;
  text-align: center;
  line-height: 250%;
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  cursor: pointer;
}

button:hover {
  color: #000;
  background-color: #fff;
  animation: highlightButton 2s linear infinite;
}

@media (min-width: 721px) and (max-width: 1063px) {
  .main-article {
    height: 200vh;
  }

  .main-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 25%);
    justify-items: center;
  }

  .card-hborder,
  .card-header {
    max-width: 335px;
    max-height: 296px;
  }

  .card-body {
    width: 80%;
    max-width: 410px;
    min-width: 300px;
    max-height: 228px;
  }

  .card-hborder:nth-child(1) {
    order: 1;
  }

  .card-hborder:nth-child(2) {
    order: 2;
  }

  .card-body:nth-child(5) {
    order: 3;
  }

  .card-body:nth-child(6) {
    order: 4;
  }

  .card-hborder:nth-child(3) {
    order: 5;
  }

  .card-hborder:nth-child(4) {
    order: 6;
  }

  .card-body:nth-child(7) {
    order: 7;
  }

  .card-body:nth-child(8) {
    order: 8;
  }
}

@media (max-width: 720px) {
  .main-article {
    width: 100vh;
    height: 500vh;
  }

  .header-main-container {
    height: 5%;
  }

  .header-main-text {
    font-size: 200%;
  }

  .main-container {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 3000%;
  }

  .card-hborder,
  .card-header {
    max-width: 502px;
    max-height: 444px;
  }

  .card-body {
    width: 50%;
    min-width: 400px;
    max-width: 500px;
    max-height: 228px;
  }

  .card-hborder:nth-child(1) {
    order: 1;
  }

  .card-body:nth-child(5) {
    order: 2;
  }

  .card-hborder:nth-child(2) {
    order: 3;
  }

  .card-body:nth-child(6) {
    order: 4;
  }

  .card-hborder:nth-child(3) {
    order: 5;
  }

  .card-body:nth-child(7) {
    order: 6;
  }

  .card-hborder:nth-child(4) {
    order: 7;
  }

  .card-body:nth-child(8) {
    order: 8;
  }

  .footer-container {
    height: auto;
  }
}
