* {
  border: solid black 0.2px;
  box-sizing: border-box;
}

/* .float {
  border-color: orange;
}

.inpAtivFis {
  border-color: purple;
}

.inpAlimRot {
  border-color: violet;
}

.inpLocNum {
  border-color: blue;
}

.threeCharLongNum {
  border-color: green;
} */
/* [required] {
  border-color: red;
} */

/* .sevenCharLongNum {
  border-color: yellow;
} */

textarea {
  display: block;
}

textarea[id^="textAdd"] {
  display: none;
}

div[id^="divAdd"] {
  display: none;
}

.divTab {
  overflow: auto;
  resize: both;
}

.tabAtFisRotPop {
  overflow: auto;
}

table {
  /* overflow: auto;
  resize: both; */
  width: 100%;
  /* height: 60%; */
}

.bi {
  pointer-events: none;
}

#spanConfirm1,
#citeNameId {
  border-width: 4px;
}

#confirmLocId {
  min-width: 200px;
}
